@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import "flowbite/dist/flowbite.css";

/* Css Style Sheet Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Global Styles */
h1,
h2,
h3,
button,
.manyStyledButton {
  font-family: var(--font-orbitron), sans-serif;
}
body,
p,
li {
  font-family: var(--font-nunito), sans-serif;
}

/* Variable */
:root {
  --color-primary: #2563eb;
  --color-success: #16a34a;
  --color-white: #fff;

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  /* Gradient Colors */
  --button1-gradient: linear-gradient(to right, #10b981, #06b6d4);
  --button1-accent-color: #d1d5db;
  --opacity-card-gradient: linear-gradient(
    to right,
    rgba(88, 28, 135, 0.3) 0%,
    rgba(131, 24, 67, 0.3) 100%
  );

  /* Font sizes */
  --fs-h1: 2.5rem; /* 40px */
  --fs-h2: 2rem; /* 32px */
  --fs-h3: 1.5rem; /* 24px */
  --fs-h4: 1.25rem; /* 20px */
  --fs-h5: 1.125rem; /* 18px */
  --fs-h6: 1rem; /* 16px */
  --fs-p: 1rem; /* 16px */
  --fs-small: 0.875rem; /* 14px */

  /* Line heights */
  --lh-tight: 1.2;
  --lh-snug: 1.3;
  --lh-normal: 1.4;
  --lh-relaxed: 1.5;

  /* Font weights */
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-normal: 400;
}

h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-tight);
  font-weight: var(--fw-bold);
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-snug);
  font-weight: var(--fw-semibold);
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-snug);
  font-weight: var(--fw-semibold);
}
h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-snug);
  font-weight: var(--fw-semibold);
}
h5 {
  font-size: var(--fs-h5);
  line-height: var(--lh-snug);
  font-weight: var(--fw-semibold);
}
h6 {
  font-size: var(--fs-h6);
  line-height: var(--lh-snug);
  font-weight: var(--fw-semibold);
}

p {
  font-size: var(--fs-p);
  line-height: var(--lh-relaxed);
  font-weight: var(--fw-normal);
}

small {
  font-size: var(--fs-small);
  line-height: var(--lh-normal);
}
